<app-header (click)="backButton($event)" title="Agregar Docente NVU"></app-header>
<ion-content class="ion-padding">

  <div class="form container">
    <ion-title class="ion-text-center" ><small>Formulario de </small> registro</ion-title>
    <br>

    <ion-item>
      <ion-label position="floating">Nombres y apellidos </ion-label>
      <ion-input 
          [maxlength]="inputLimit"
          [(ngModel)]="dataDocente.name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Documento</ion-label>
      <ion-input 
          [maxlength]="inputLimit"
          [(ngModel)]="dataDocente.document" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de Nacimiento</ion-label>
      <ion-input
          placeholder="2003-12-31"
          [(ngModel)]="dataDocente.age"
          type="date"
          max="2003-12-31"
          min="1940-12-31"
          ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">País de residencia</ion-label>
      <ion-select 
          mode="ios" 
          (ionChange)="paises($event)" 
          okText="Aceptar" cancelText="Cancelar" 
          placeholder="Seleccionar país"
          >
        <ion-select-option *ngFor="let paises of countrieslist" value="{{ paises | json }}" >{{ paises | json }} </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ciudad de residencia</ion-label>
      <ion-input 
          [maxlength]="inputLimit"
          [(ngModel)]="dataDocente.homeCity" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input 
          [maxlength]="inputLimit"
          [(ngModel)]="dataDocente.address" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input type="phone" 
          [maxlength]="inputLimit"
          [(ngModel)]="dataDocente.phone" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Designación</ion-label>
      <ion-input 
          [maxlength]="inputLimit"
          [(ngModel)]="dataDocente.designacion" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha de ingreso</ion-label>
      <ion-input
          placeholder="2003-12-31"
          [(ngModel)]="dataDocente.dateEntry"
          type="date"
          max="2026-12-31"
          [min]="date"
          ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input 
          [maxlength]="inputLimit"
          pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" 
          [(ngModel)]="dataDocente.email" type="email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Código Docente</ion-label>
      <ion-input 
          type="text"
          [maxlength]="inputLimit"
          [maxlength]="20"
          [(ngModel)]="dataDocente.codeTeacher" ></ion-input>
    </ion-item>

    
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="dataDocente.usurname" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input 
          type="password"
          [maxlength]="inputLimit"
          [(ngModel)]="dataDocente.password" ></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Foto</ion-label>
      <ion-input [(ngModel)]="dataDocente.avatar" type="text"></ion-input>
    </ion-item> -->

    <div class="textArea">
      <ion-textarea
          type="text" rows="3" cols="20"
          [(ngModel)]="dataDocente.note"
          (keyup)="onKey($event)"
          [maxlength]="limit"
          placeholder="Escribir NOTA..."></ion-textarea>
      <div class="maxleng">{{ contador }}/100</div>
    </div>

    <br>

    <ion-button  color="primary" expand="block" (click)="createDocente()">
      Agregar Docente
    </ion-button>

    <br>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

</ion-content>
