<app-header (click)="backButton($event)" title="Agregar Carrera " ></app-header>

<ion-content class="ion-padding">

  <section class="form container">

    <ion-item>
      <ion-label position="floating">Nombre de la Carrera</ion-label>
      <ion-input 
          type="text"
          [maxlength]="inputLimit"
          [(ngModel)]="dataCarrera.nameClass" 
          placeholder="Carrera"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Autor</ion-label>
      <ion-input 
          type="text"
          [maxlength]="inputLimit"
          [(ngModel)]="dataCarrera.authorCarrera" 
          placeholder="Nombre del Profesor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Seleccione categoría</ion-label>
      <ion-select mode="ios" (ionChange)="categoria($event)" okText="Aceptar" cancelText="Cancelar" placeholder="Seleccionar una Clasificación">
        <ion-select-option value="phd">PH.D</ion-select-option>
        <ion-select-option value="doctorado">Doctorado</ion-select-option>
        <ion-select-option value="licenciatura">Licenciatura</ion-select-option>
        <ion-select-option value="diplomado">Diplomado</ion-select-option>
        <ion-select-option value="curso" >Curso</ion-select-option>
        <ion-select-option value="taller">Taller</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="textArea">
      <ion-textarea
          type="text" rows="3" cols="20"
          [maxlength]="limit"
          [(ngModel)]="dataCarrera.note"
          (keyup)="onKey($event)"
          placeholder="Escribir una NOTA..."></ion-textarea>
      <div class="maxleng">{{ contador }}/100</div>
    </div>

    <br>

    <ion-button  color="primary" expand="block" (click)="createCourse()">
      Agregar Carrera
    </ion-button>

    <br>
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

</ion-content>
