<app-header title="Agregar Carrera " (click)="backButton()"></app-header>

<ion-content class="ion-padding">

  <section class="form container">

    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input 
          type="text"
          [(ngModel)]="dataCarrera.nameClass" 
          placeholder="Carrera"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Carrera</ion-label>
      <ion-input 
          type="text"
          [(ngModel)]="dataCarrera.teacher" 
          placeholder=""></ion-input>
    </ion-item> -->






    <!-- <ion-item>
      <ion-label position="floating">No. ciclo</ion-label>
      <ion-input 
          type="number"
          [(ngModel)]="dataCarrera.codeCarrera" 
          placeholder=""></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label position="floating">Autor</ion-label>
      <ion-input 
          type="text"
          [(ngModel)]="dataCarrera.authorCarrera" 
          placeholder="Nombre del Profesor"></ion-input>
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Clasificación</ion-label>
      < <ion-input 
          type="text"
          [(ngModel)]="dataCarrera.authorCarrera" 
          placeholder="Código de la carrera"></ion-input> 
    </ion-item> -->

    <ion-item>
      <ion-label position="floating">Clasificación</ion-label>
      <ion-select mode="ios" (ionChange)="clasificacion($event)" okText="Aceptar" cancelText="Cancelar" placeholder="Seleccionar una Clasificación">
        <ion-select-option value="phd">PH.D</ion-select-option>
        <ion-select-option value="doctorado">Doctorado</ion-select-option>
        <ion-select-option value="licenciatura">Licenciatura</ion-select-option>
        <ion-select-option value="diplomado">Diplomado</ion-select-option>
        <ion-select-option value="curso" >Curso</ion-select-option>
        <ion-select-option value="taller">Taller</ion-select-option>
      </ion-select>
      <!-- [(ngModel)]="clasificacion" -->
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Autor</ion-label>
      <ion-input 
          type="text"
          [(ngModel)]="dataCarrera.authorCarrera" 
          placeholder=""></ion-input>
    </ion-item> -->

    <div class="textArea">
      <ion-textarea
          type="text" rows="6" cols="20"
          [(ngModel)]="dataCarrera.note"
          placeholder="Escribir una NOTA..."></ion-textarea>
    </div>

    <br>

    <ion-button  color="primary" expand="block" (click)="createCourse()">
      Agregar Carrera
    </ion-button>

    <br>
  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

</ion-content>
