<app-header (click)="backButton($event)" title="Alumnos NVU"></app-header>

<ion-content class="ion-padding">

    <section class="container">

        <div class="addBtn">
            <div class="childAddBtn">
              <a routerLink="/group-students" color="success">
                <ion-icon slot="start" name="add-outline"></ion-icon>
                Grupo Estudiantes
              </a>
            </div>
        </div>
        <div class="addBtn"  style="margin-top:4px;">
            <div class="childAddBtn">
              <a routerLink="/create-students" color="success">
                <ion-icon slot="start" name="person-add-outline"></ion-icon>
                Agregar Estudiante
              </a>
            </div>
        </div>

        <div class="ctnTable">
            <table>
                <tr>
                  <th>Nombres</th>
                  <th>Documento</th>
                  <th>Email</th>
                  <th>Teléfono</th>
                  <th>País</th>
                  <th>Ciudad</th>
                  <th>Dirección</th>
                  <th>Fecha nacimiento</th>
                  <th>Sexo</th>
                  <th>Carrera</th>
                  <th>Sección</th>
                  <th>Asignatura</th>
                  <th>Grupo alumonos</th>
                  <th>Registro No.</th>
                  <th>ROL</th>
                  <th>Username</th>
                  <th>Actividades</th>
                  <th>Comentario</th>
                  <th>Acciones</th>
                </tr>
                <tr *ngFor="let s of students">
                  <td>{{ s.fullName | json }}</td>
                  <td>{{ s.document | json }}</td>
                  <td>{{ s.email | json }}</td>
                  <td>{{ s.phone | json }}</td>
                  <td>{{ s.country | json }}</td>
                  <td>{{ s.city | json }}</td>
                  <td>{{ s.address | json }}</td>
                  <td>{{ s.dob | json }}</td>
                  <td>{{ s.sex | json }}</td>
                  <td>{{ s.carrera | json }}</td>
                  <td>{{ s.sectionID | json }}</td>
                  <td>{{ s.asignatura | json }}</td>
                  <td>{{ s.bloodgroup | json }}</td>
                  <td>{{ s.registerNO | json }}</td>
                  <td>{{ s.roll | json }}</td>
                  <td>{{ s.username| json }}</td>
                  <td>{{ s.actividades | json }}</td>
                  <td>{{ s.comentario | json }}</td>
                  <td>
                    <ion-icon color="danger" style="zoom:2" name="trash-outline" (click)="deleteStudent(s.id)"></ion-icon>
                  </td>
                </tr>
            </table>
        </div>
    </section>
</ion-content>
