<app-header (click)="backButton($event)" title="Listado de Tareas NVU" ></app-header>
<ion-content class="ion-padding">

  <section class="container">

    <div class="addBtn">
      <div class="childAddBtn">
        <a routerLink="/create-tareas" color="success">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          Agregar Tarea
        </a>
      </div>
    </div>

      <div class="ctnTable">
        <table>
            <tr>
              <th>Sección</th>
              <th>Categoría</th>
              <th>Capacidad</th>
              <th>Carrera</th>
              <th>Docente</th>
              <th>Nota</th>
              <th>Fecha creación</th>
              <th>Acciones</th>
            </tr>
            <tr *ngFor="let t of tareasList">
              <td>{{ t.section | json }}</td>
              <td>{{ t.categoria | json }}</td>
              <td>{{ t.capacidad | json }}</td>
              <td>{{ t.carrera | json }}</td>
              <td>{{ t.docente | json }}</td>
              <td>{{ t.note | json }}</td>
              <td>{{ t.dateCreated | json }}</td>
              <td>
                <ion-icon color="tertiary" style="zoom:2" name="create-outline" (click)="updateSection(t.id)"></ion-icon>
                <ion-icon color="danger" style="zoom:2" name="trash-outline" (click)="deleteSection(t.id)"></ion-icon>
              </td>
            </tr>
        </table>
    </div>
    
  </section>

  <br>
  <br>
  <br>
  <br>

</ion-content>
