.news{width:100%;height:auto;
  margin-top:1rem;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap:1rem;
  h3,p{margin: 0;}
  .childNews{width:100%;height:auto;
    border:1px solid #c9c8c8;
    border-radius:.4rem;
    padding:.5rem;
  }
}
@media only screen and (max-width:680px){
  .news{display:grid;
    grid-template-columns:1fr;
  }
}
.addBtn{margin-top: .5rem;}