<app-header title="Mis pagos"></app-header>

<ion-content class="ion-padding">
  <section class="container">

    <div class="pagos">
      <h5>Matricula</h5>
      <h6>Cancelado</h6>
      <main class="childPagos">
        <div class="boxPagos">
          <p>FV: 28/02/2022</p>
        </div>
        <div class="boxPagos">
          <p>Mora: $/0,00</p>
        </div>
        <div class="boxPagos">
          <p>Total: $350</p>
        </div>
      </main>
    </div>
    
    <div class="pagos">
      <h5>Matricula</h5>
      <h6>Cancelado</h6>
      <main class="childPagos">
        <div class="boxPagos">
          <p>FV: 28/02/2022</p>
        </div>
        <div class="boxPagos">
          <p>Mora: $/0,00</p>
        </div>
        <div class="boxPagos">
          <p>Total: $350</p>
        </div>
      </main>
    </div>
    <div class="pagos">
      <h5>Matricula</h5>
      <h6>Cancelado</h6>
      <main class="childPagos">
        <div class="boxPagos">
          <p>FV: 28/02/2022</p>
        </div>
        <div class="boxPagos">
          <p>Mora: $/0,00</p>
        </div>
        <div class="boxPagos">
          <p>Total: $350</p>
        </div>
      </main>
    </div>
    
    <div class="pagos">
      <h5>Matricula</h5>
      <h6>Cancelado</h6>
      <main class="childPagos">
        <div class="boxPagos">
          <p>FV: 28/02/2022</p>
        </div>
        <div class="boxPagos">
          <p>Mora: $/0,00</p>
        </div>
        <div class="boxPagos">
          <p>Total: $350</p>
        </div>
      </main>
    </div>

  </section>

</ion-content>
