<app-header (click)="backButton($event)" title="Cuerpo Docente NVU"></app-header>
<ion-content class="ion-padding">

  <style>

  </style>

  <section class="container">

    <div class="addBtn">
      <div class="childAddBtn">
        <a routerLink="/create-docente" color="success">
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          Agregar Docente
        </a>
      </div>
    </div>

      <div class="ctnTable" *ngIf="docentesList">
        <table>
            <tr>
              <th>Nombres</th>
              <th>Documento</th>
              <th>Fecha Nac.</th>
              <th>País</th>
              <th>Ciudad</th>
              <th>Dirección</th>
              <th>Teléfono</th>
              <th>Designación</th>
              <th>Fecha ingreso</th>
              <th>email</th>
              <th>Contraseña</th>
              <th>Nota</th>
              <th>ACC</th>
            </tr>
            <tr *ngFor="let t of docentesList">
              <td>{{ t.name | json }}</td>
              <td>{{ t.document | json }}</td>
              <td>{{ t.age | json }}</td>
              <td>{{ t.countryOfResidence | json }}</td>
              <td>{{ t.homeCity | json }}</td>
              <td>{{ t.address | json }}</td>
              <td>{{ t.phone | json }}</td>
              <td>{{ t.designacion | json }}</td>
              <td>{{ t.dateEntry | json }}</td>
              <td>{{ t.email | json }}</td>
              <td>{{ t.password | json }}</td>
              <td>{{ t.note | json }}</td>
              <td>
                <!-- <ion-icon color="tertiary" style="zoom:2" name="create-outline" (click)="teacherById(t.id)"></ion-icon> -->
                <ion-icon color="danger" style="zoom:2" name="trash-outline" (click)="deleteDocente(t.id)"></ion-icon>
              </td>
            </tr>
        </table>
    </div>


    <!-- <div class="teachers">
      <div class="childTeachers">
        <p> Nombres: <b>Pedro</b> </p>
        <p>Apellidos: <b>Morales</b></p>
        <p>Documento <b>1045982</b> </p>
        <p>Fecha de nacimiento <b>30/12-1987</b></p>
        <p>País de residencia <b>Colombia</b> </p>
        <p> Ciudad de residencia <b>Bogotá</b> </p>
        <p>email: <b>teacherFlavio@gmail.com</b> </p>
        <p> Teléfono <b>+1 265 485 3215</b> </p>
        <p>Contraseña: <b>123456</b> </p>
      </div>

    </div> -->

  </section>


  <br>
  <br>
  <br>
  <br>

</ion-content>
