<app-header title="Listado de Carreras NVU" (click)="backButton($event)" ></app-header>
<ion-content class="ion-padding">

  <style>

  </style>

  <section class="container">

    <div class="addBtn">
      <div class="childAddBtn">
        <a routerLink="/create-carrera" color="success">
          <ion-icon slot="start" name="add-outline"></ion-icon>
          Agregar Carrera
        </a>
      </div>
    </div>

      <div class="ctnTable">
        <table>
            <tr>
              <th>Nombre </th>
              <th>Autor</th>
              <th>Clasificacion</th>
              <th>Nota</th>
              <th>Fecha Creacion</th>
              <th>Acciones</th>
            </tr>
            <tr *ngFor="let t of carrerasList">
              <td>{{ t.nameClass | json }}</td>
              <td>{{ t.authorCarrera | json }}</td>
              <td>{{ t.clasificacion | json }}</td>
              <td>{{ t.note | json }}</td>
              <td>{{ t.dateCreated | json }}</td>
              <td>
                <ion-icon color="tertiary" style="zoom:1.5" name="create-outline" (click)="updateCarrera(t.id)"></ion-icon>
                <ion-icon color="danger" style="zoom:1.5" name="trash-outline" (click)="deleteCarrera(t.id)"></ion-icon>
              </td>
            </tr>
        </table>
    </div>

  </section>

  <br>
  <br>
  <br>
  <br>

</ion-content>
