
.horario{width:100%;height:auto;
  // background:#faf7f7;
  border:1px solid var(--gris1);
  border-radius:5px;
  padding: 0.5rem;
  margin:1rem auto;
  h5{text-align: center;
    border-bottom:1px solid var(--gris1);
  }
  
}
.boxHora{width:100%;height:auto;
  display:flex;
  justify-content: space-around;
  ion-item{padding:0 .5rem;}
}