<app-header (click)="backButton($event)" title="Agregar Profesor"></app-header>

<ion-content class="ion-padding">

  <div class="form container">
    <ion-title class="ion-text-center" ><small>Formulario de </small> registro</ion-title>
    <br>

    <ion-item>
      <ion-label position="floating">Nombres</ion-label>
      <ion-input [(ngModel)]="student.name" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input [(ngModel)]="student.lastname" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Documento</ion-label>
      <ion-input [(ngModel)]="student.document" type="number"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
          placeholder="Ejemplo@correo.com"
          [(ngModel)]="student.email"
          type="email"
          ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="student.phone" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">País</ion-label>
      <ion-input [(ngModel)]="student.country" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ciudad</ion-label>
      <ion-input [(ngModel)]="student.city" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Carrera</ion-label>
      <ion-input type="phone" [(ngModel)]="student.carrera" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">optsContactado</ion-label>
      <ion-input [(ngModel)]="student.optsContactado" type="number"></ion-input>
    </ion-item>

    <div class="textArea">
      <ion-textarea
          type="text" rows="6" cols="20"
          [(ngModel)]="student.information"
          placeholder="Escribir la NOTA..."></ion-textarea>
    </div>

    <br>

    <ion-button  color="primary" expand="block" (click)="createStudent()">
      Agregar estudiante
    </ion-button>

    <br>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

</ion-content>
