<app-header (click)="backButton($event)" title="Agregar Alumno"></app-header>

<ion-content class="ion-padding">

  <div class="form container">
    <ion-title class="ion-text-center" ><small>Formulario de </small> registro</ion-title>
    <br>

    <!-- {{ countries | json }}

    <ul>
      <li *ngFor="let p of countries"> {{ p | json }}</li>
    </ul> -->

    <ion-item>
      <ion-label position="floating">Nombres y apellidos </ion-label>
      <ion-input 
          type="text"
          [(ngModel)]="dataStudent.fullName"
          [maxlength]="inputLimit"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Documento</ion-label>
      <ion-input 
          type="number"
          [(ngModel)]="dataStudent.document"
          [maxlength]="inputLimit"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
          type="email"
          placeholder="Ejemplo@correo.com"
          [(ngModel)]="dataStudent.email"          
          [maxlength]="inputLimit"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input 
          type="text"
          [maxlength]="inputLimit"
          [(ngModel)]="dataStudent.phone"
          ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Seleccionar país</ion-label>
      <ion-select 
          mode="ios" 
          (ionChange)="paises($event)" 
          okText="Aceptar" cancelText="Cancelar" 
          placeholder="Seleccionar país"
          >
        <ion-select-option *ngFor="let paises of countries" value="{{ paises | json }}" >{{ paises | json }} </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Ciudad</ion-label>
      <ion-input 
          type="text"
          [maxlength]="inputLimit"
          [(ngModel)]="dataStudent.city"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dirección</ion-label>
      <ion-input 
          type="text"
          [maxlength]="inputLimit"
          [(ngModel)]="dataStudent.address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Fecha Nacimiento</ion-label>
      <ion-input
          [placeholder]="date"
          [(ngModel)]="dataStudent.dob"
          type="date"
          [max]="date"
          min="1950-01-01"
          ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Seleccionar Sexo</ion-label>
      <ion-select 
          mode="ios" 
          (ionChange)="sexo($event)" 
          okText="Aceptar" cancelText="Cancelar" 
          placeholder="Seleccionar sexo"
          >
        <ion-select-option value="Mujer" >Mujer</ion-select-option>
        <ion-select-option value="Hombre" >Hombre </ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Seleccionar Carrera</ion-label>
      <ion-select 
          mode="ios" 
          (ionChange)="carreras($event)" 
          okText="Aceptar" cancelText="Cancelar" 
          placeholder="Seleccionar una Carrera"  >
        <ion-select-option *ngFor="let c of carrerasList" value="{{ c.nameClass | json }}">{{ c.nameClass | json }}</ion-select-option>
      </ion-select>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Seleccionar Sección</ion-label>
      <ion-select 
          mode="ios" 
          (ionChange)="sections($event)" 
          okText="Aceptar" cancelText="Cancelar" 
          placeholder="Seleccionar sección"  >
        <ion-select-option *ngFor="let c of sectionsList" value="{{ c.section| json }}">{{ c.section| json }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Seleccionar Asignatura</ion-label>
      <ion-select 
          mode="ios" 
          (ionChange)="asignaturas($event)" 
          okText="Aceptar" cancelText="Cancelar" 
          placeholder="Seleccionar Docente"
          >
        <ion-select-option *ngFor="let c of asignaturasList" value="{{ c.nameAsignatura | json }}" >{{ c.nameAsignatura | json }} </ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Seleccionar grupo de Alumnos</ion-label>
      <ion-select 
          mode="ios" 
          (ionChange)="groupStudents($event)" 
          okText="Aceptar" cancelText="Cancelar" 
          placeholder="Seleccionar un grupo de Alumnos"
          >
        <ion-select-option *ngFor="let c of groupStudentsList" value="{{ c.nameGroup | json }}" >{{ c.nameGroup | json }} </ion-select-option>
      </ion-select>
    </ion-item>

    <div class="textArea">
      <ion-textarea
          type="text" rows="3" cols="20"
          [(ngModel)]="dataStudent.information"
          (keyup)="onKey($event)"
          [maxlength]="limit"
          placeholder="Escribir la NOTA..."></ion-textarea>
          <div class="maxleng">{{ contador }}/80</div>
    </div>
    <br>

    <ion-button  color="primary" expand="block" (click)="createStudent()">
      Agregar estudiante
    </ion-button>

    <br>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>

</ion-content>
